.dateAndForm {
  margin: 20px auto;
}

.image-city {
  margin-top: 60px;
  margin-bottom: 1px;
}

.current_weather {
  line-height: 50px;
  margin: 0 auto;
}

.temp_unit strong {
  color: #016ec6;
  font-size: 50px;
  font-weight: normal;
}

.image-city .image {
  position: relative;
  top: -15px;
  max-width: 150px;
  max-height: 150px;
}

.temp_unit .units {
  position: relative;
  font-size: 15px;
  top: -24px;
}
h1 {
  text-align: left;
  color: #1bb2a8;
  font-weight: bold;
  font-size: 25px;
}

h2 {
  color: #016ec6;

  text-align: center;
  font-size: 60px;
}
header {
  text-transform: capitalize;
}
.current_weather {
  text-transform: capitalize;
}

form {
  text-align: right;
  color: #1bb2a8;
  font-weight: bold;
  font-size: 25px;
}
.search_button,
.current_button {
  text-align: right;
  color: #1bb2a8;
  font-weight: bold;
  font-size: 25px;
}
.current_weather_icon {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #1bb2a8;
  font-size: 40px;
}

h4 {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #1bb2a8;
  font-size: 40px;
  margin-bottom: 20px;
}
.temp_unit {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #1bb2a8;
  font-size: 40px;
}
.col-one-24,
.col-two-24,
.col-three-24,
.col-four-24,
.col-five-24 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
@media (min-width: 500px) {
  .col-one-24 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 500px) {
  .col-two-24 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 500px) {
  .col-three-24 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 500px) {
  .col-four-24 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 500px) {
  .col-five-24 {
    width: 20%;
    float: left;
  }
}

.weather-app-wrapper {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid #016ec6;
  border-width: 8px;
  max-width: 150%;
  margin: 30px auto;
}
.citystyle {
  text-align: right;
  color: #1bb2a8;
  font-weight: bold;
  font-size: 25px;
}
.card-title {
  text-align: center;
  font-weight: bold;
}
.card-one {
  background-color: #90b7f0;
}
.card-two {
  background-color: #f59393;
}
.card-three {
  background-color: #dd91f2;
}
.card-four {
  background-color: #f0c990;
}
.card-five {
  background-color: #2fcc71;
}
.card-body {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.card-text {
  font-weight: bold;
}

.cloudsun-icon {
  font-size: 30px;
  color: khaki;
}
.rain-icon {
  font-size: 30px;
  color: cornflowerblue;
}
.wind-icon {
  font-size: 30px;
  color: deepskyblue;
}

.cloud-icon {
  font-size: 30px;
  color: paleturquoise;
}

ul {
  margin-right: 70px;
  margin-left: 30px;
  text-align: center;
  color: #1bb2a8;
  font-size: 40px;
  list-style: none;
}
h3 {
  margin-left: 10px;
  margin-top: 20px;
  font-size: medium;
  font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
}

body {
  font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
}
