.dateAndForm {
  margin: 20px auto;
}

.image-city {
  margin-top: 60px;
  margin-bottom: 1px;
}

.current_weather {
  line-height: 50px;
  margin: 0 auto;
}

.temp_unit strong {
  color: #016ec6;
  font-size: 50px;
  font-weight: normal;
}

.image-city .image {
  position: relative;
  top: -15px;
  max-width: 150px;
  max-height: 150px;
}

.temp_unit .units {
  position: relative;
  font-size: 15px;
  top: -26px;
}
h1 {
  text-align: left;
  color: #1bb2a8;
  font-weight: bold;
  font-size: 30px;
}

h2 {
  color: #016ec6;

  text-align: center;
  font-size: 60px;
}
header {
  text-transform: capitalize;
}
.current_weather {
  text-transform: capitalize;
}

form {
  text-align: right;
  color: #1bb2a8;
  font-weight: bold;
  font-size: 25px;
}
.search_button,
.current_button {
  text-align: right;
  color: #1bb2a8;
  font-weight: bold;
  font-size: 25px;
}
.current_weather_icon {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #1bb2a8;
  font-size: 40px;
}

.temp_unit {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #1bb2a8;
  font-size: 28px;
}

.weather-app-wrapper {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid #016ec6;
  border-width: 8px;
  max-width: 150%;
  margin: 30px auto;
}

ul {
  margin-right: 70px;
  margin-left: 30px;
  text-align: center;
  color: #1bb2a8;
  font-size: 40px;
  list-style: none;
  margin-bottom: 40px;
}
h4 {
  margin-left: 10px;
  margin-top: -20px;
  font-size: medium;
  font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
}

.temp_unit .active,
.factive {
  color: #1bb2a8;
  cursor: default;
  text-decoration: none;
}

.weather-forecast {
  margin-top: 10px;
  margin-bottom: 30px;
}

.weather-forecast h3 {
  color: #016ec6;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 68px;
  width: 68px;
}

.weather-forecast-temperature {
  text-align: center;
  color: #016ec6;
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
